<!-- <form (ngSubmit)="onSearch(searchForm.value)" #searchForm="ngForm">
    <input type="text" name="keyword" ngModel>
    <select name="familyId" ngModel>
        <option value="-1" selected>Pas de famille</option>
        <option *ngFor="let family of families" [value]="family.id">
        {{family.name}}
        </option>
    </select>
    <button type="submit">OK</button>
</form> -->

<!-- <form (ngSubmit)="onSearch()">
    <input type="text" name="keyword" [(ngModel)]="data.keyword">
    <select name="familyId" [(ngModel)]="data.familyId" >
        <option value="-1" selected>Pas de famille</option>
        <option *ngFor="let family of families" [value]="family.id">
        {{family.name}}
        </option>
    </select>
    <button type="submit">OK</button>
</form> -->

<form class="form-inline" (ngSubmit)="onSearch()">
    <div class="input-group" >
        <div class="input-group-append">
            <select class="input-select" name="familyId" [(ngModel)]="data.familyId">
                <option class="search-family" value="-1" selected>Pas de famille</option>
                <option class="search-family" *ngFor="let family of families" [value]="family.id">
                {{family.name}}
                </option>
              </select>
        </div>        
        <input type="text" class="form-control" placeholder="Rechercher" name="keyword" [(ngModel)]="data.keyword" 
               [ngbTypeahead]="searchSuggest" [resultFormatter]="suggestResultFormatter" [inputFormatter]="suggestInputFormatter"
               (selectItem)="onSuggestSelected($event)">
        <div class="input-group-append">
            <button type="submit" class="btn btn-red" routerLink="search" (productSelected)="onProductSelected($event)"><i class="fa fa-search"></i></button>
        </div>
    </div>
</form>
<!-- <app-products [products]="products"
            (productSelected)="onProductSelected($event)"></app-products> -->

